<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Players</title>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    <script type="text/javascript" src="/js/jquery.js"></script>
    
    <script type="text/javascript" src="/js/admin.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#players').on('click', '#btn-add', function(evt){
          var params = {};
          $('#new-player input[type=text]').each(function(idx, item){
            if (item.value!="" && item.value!="null"){
              params[item.id] = item.value;
            }
          });
          console.log('params', params)
          if ($('#new-player #id').val()){
            params.id = $('#new-player #id').val();
            return editplayer(params);
          }
          else{
            return newplayer(params);  
          }
          
        });
        $('#players').on('click', '.btn-del',function(evt){
          deleteplayer($(evt.currentTarget).attr('data-id'));
        });

        $('#players').on('click', '.btn-edit', function(evt){
          //editplayer($(evt.currentTarget).attr('data-id'));
          //feed 'new' form with this player info
          var $newplayer = $('#new-player');
          var $current = $(evt.currentTarget.parentNode.parentNode);
          
          $('#id', $newplayer).val($(evt.currentTarget).attr('data-id'));
          $('#number', $newplayer).val($('.number',$current).text());
          $('#team', $newplayer).val($('.team',$current).text());
          $('#firstname', $newplayer).val($('.firstname',$current).text());
          $('#lastname', $newplayer).val($('.lastname',$current).text());
          $('#position', $newplayer).val($('.position',$current).text());
          $('#club', $newplayer).val($('.club',$current).text());
          $('#dob', $newplayer).val($('.dob',$current).text());
          if ($('.image img', $current).length){
            $('#image', $newplayer).val($('.image img',$current).attr('src'));
          }

          $('#new-player #btn-add').text('Update');

        });
        $('#players').on('click', '#btn-cancel', function(evt){
          reset();
        });
      });

      $(document).on('keypress', 'input[type=text]', function(evt){
        if (evt.keyCode==13){
          $('#btn-add').click();
        }
      });

      
      function reset(){
        $('#new-player input[type=text]').val('');
        $('#new-player input[type=hidden]').val('');
        $('#new-player #btn-add').text('Add');
      }
      function refresh(){
        $.ajax({type:'GET', url:'/players', dataType:'jsonp', success:function(result){
          $('tbody tr.player').remove();
          result.forEach(function(item, idx){
            $('tbody').append(playerTpl(item, result.length-idx));
          });

        }, error:function(err){
            error(err);
            if (err.status == 404){
              $('tbody tr.player').remove();
          }
        }});
      }
      function playerTpl(player, index){
        if (!player){
          return "";
        }
        return "<tr class='player'><td>"+player.team+"</td><td class='number'>"+player.number+"</td><td class='lastname'>"+player.lastname+"</td><td class='firstname'>"+player.firstname+"</td><td class='position'>"+player.position+"</td><td class='club'>"+player.club+"</td><td class='dob'>"+(player.dob && new Date(player.dob).toLocaleDateString())+"</td><td class='image'>"+(player.image ? "<img src='"+player.image.contentURL+"' />" :'')+"</td><td class='buttons'><button class='btn-del' data-id='"+player.id+"'>Delete</button>&nbsp;<button class='btn-edit' data-id='"+player.id+"'>Edit</button></td></tr>";
      }
      function success(msg){
        $('#result').removeClass('error').addClass('success').html(msg).show().fadeOut(3000);
        reset();
      }
      function error(err){
        var msg = '';
        if (typeof err == 'string'){
          msg = err;
        }
        else{
          msg = 'Error  '+err.status+' '+err.statusText;
        }
        $('#result').addClass('error').removeClass('success').html(msg).show().fadeOut(3000);
      }
    </script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>2013 Players</h1>
    <div id="result"></div>
    <table id="players">
      <thead>
        <tr>
          <th>Registered for Team</th>
          <th>#</th>
          <th>Last name</th>
          <th>First name</th>
          <th>Position</th>
          <th>Club</th>
          <th>D.o.b</th>
          <th>Image URL</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
         <tr id="new-player">
          <td>&nbsp;<input type="hidden" id="id" /><input type="text" id="team" /></td>
          <td><input type="text" id="number" /></td>
          <td><input type="text" id="lastname" /></td>
          <td><input type="text" id="firstname" /></td>
          <td><input type="text" id="position" /></td>
          <td><input type="text" id="club" /></td>
          <td><input type="text" id="dob" /></td>
          <td><input type="text" id="image" /></td>
          <td><button id="btn-add">Add</button>&nbsp;<button id="btn-cancel">Cancel</button></td>
        </tr>
    <% players && players.forEach(function(player, idx){
      %>
        <tr class='player'>
          <td class='team'><%=player.team%></td>
          <td class='number'><%=player.number%></td>
          <td class='lastname'><%=player.lastname%></td>
          <td class='firstname'><%=player.firstname%></td>
          <td class='position'><%=player.position%></td>
          <td class='club'><%=player.club%></td>
          <td class='dob'><%=player.dob && player.dob.toLocaleDateString()%></td>
          <td class='image'><%if (player.image) { %><img src='<%=player.image.contentURL%>' /><% }%></td>
          <td class='buttons'><button class="btn-del" data-id="<%=player.id%>">Delete</button>&nbsp;<button class="btn-edit" data-id='<%=player.id%>'>Edit</button></td>
        </tr>

    <%}); %>
       
      </tbody>
    </table>
  </body>
</html>